* {
    padding: 0;
    box-sizing: border-box;

}

/*Opdracht 1a*/

.navbar-one {
    display: flex;
    flex-direction: row;
}

.navbar-one ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

/*Opdracht 1b*/

.navbar-two {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-two ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

/*Opdracht 1c*/

.navbar-three {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-three ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    width: 92%;
}

.navbar-three div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
}

/*Opdracht 1d*/
.navbar-four {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-four div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.navbar-four-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 70%;
}

.navbar-four-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 190px;
}

/*Opdracht 1d */

