.global-page {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    flex-basis: 280px;
    flex-shrink: 0;
    flex-grow: 1;
}

ul {
    list-style: none;
}

.company-logo-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 60px;
}

.navigation-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 3;
    gap: 30px;
    padding-left: 5px;
}

.navigation-buttons div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.navigation-buttons img {
    width: 14px;
    height: 14px;
}

.navigation-buttons li {
    padding-left: 8px;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 8px;
}

.login-buttons li {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.login-buttons button {
    flex-basis: 100%;
}


main {
    display: flex;
    flex-direction: column;
    flex-grow: 20;
    flex-shrink: 10;
    overflow-y: scroll;
}

header {
    background-image: url("../assets/placeholder-image.svg");
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 230px;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 30px;
    height: 100vh;
    gap: 60px;

}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
}

article div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 240px;
    padding-bottom: 15px;
}

article h2 {
    padding-bottom: 10px;
}

.placeholder-image {
    width: 240px;
    height: 270px;
    padding-bottom: 15px;
}

.main-content span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    padding-bottom: 20px;
}

.users-icon {
    width: 20px;
    height: 20px;
}

.article-button {
    background-color: #383838;
    border: none;
    color: #e3e3e3;
    width: 100%;
}

.footer {
    background-color: #383838;
    border: none;
    color: #e3e3e3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    width: 100%;
}